body {
	margin: 0;
}
.popup-general {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	&__content {
		position: relative;
		max-width: 700px;
		z-index: 1;
		@media (max-width: 768px) {
			padding: 0 10px;
		}
		.popup-img {
			&__close {
				position: absolute;
				width: 40px;
				height: 40px;
				background-color: #ec1d23;
				border-radius: 100%;
				top: -1em;
				right: -1em;
				transition: .3s;
				cursor: pointer;
				@media (max-width: 768px) {
					top: -15px;
					right: 0;
				}
				@media (max-width: 480px) {
					width: 35px;
					height: 35px;
				}
				&:hover {
					transform: translate(0,-2px);
					box-shadow: -3px 3px 15px rgba(0,0,0,.35);
				}
				span {
					position: absolute;
					width: 20px;
					height: 3px;
					margin: auto;
					background-color: white;
					border-radius: 5px;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					&:first-child {
						transform:rotate(45deg);
					}
					&:last-child {
						transform:rotate(-45deg);
					}
				}
			}
			img {
				width: 100%;
			}
		}
	}
	&__bg {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.75);
		top: 0;
		left: 0;
	}
}